{% extends 'base.html' %}

{% load static %}
{% block content %}
	<div class="cd card">
        <div class="man">
            {% include 'side.html' %}
            <div class="vf card-body" style="background-color: #fff;">
                
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group ">
                        {% if profile %}
                        <img src="{{profile.product_img.url}}" alt="Avatar" class="avatar" style="height: 50px;width: 50px;border-radius: 50%;">
                        {% else %}
                        <img src="{% static 'images/avatar.png' %}" alt="Avatar" class="avatar" style="height: 50px;width: 50px;border-radius: 50%;">
                        {% endif %}
                        
                        <input class="inp text-center form-control" id="inputPassword4" type="password" name="password1" placeholder="Old Password" style="border-radius: 25px;width: 90%; margin-bottom: 30px;margin-left: 5%;margin-right: 5%;height: 35px;border-width: 0.01px;">
                        <input class="inp text-center form-control" id="inputPassword4" type="password" name="password" placeholder="New Password" style="border-radius: 25px;width: 90%; margin-bottom: 30px;margin-left: 5%;margin-right: 5%;height: 35px;border-width: 0.01px;">
                    </div>
                    <button type="submit" class="sign-in btn btn-default" style="height: 35px;border-radius: 25px;">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}