{% extends 'base.html' %}


{% block content %}
	<div class="login card" style="border-radius: 10%;">
            <h2 class="had card-header text-center" style="background-color: #fff; border-width: 0; margin-bottom: 50px;">Sign Up</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group ">
                    <input type="text" class="inp text-center form-control" id="inputAddress" name="first_name" placeholder="First Name" style="border-radius: 25px;width: 90%; margin-bottom: 30px;margin-left: 5%;margin-right: 5%;height: 35px;border-width: 0.01px;">
                    <input type="text" class="inp text-center form-control" id="inputAddress" name="last_name" placeholder="Last Name" style="border-radius: 25px;width: 90%; margin-bottom: 30px;margin-left: 5%;margin-right: 5%;height: 35px;border-width: 0.01px;">
                    <input class="inp text-center form-control" id="inputEmail4" type="email" name="email" placeholder="Email" style="border-radius: 25px;width: 90%; margin-bottom: 30px;margin-left: 5%;margin-right: 5%;height: 35px;border-width: 0.01px;">
                    <input class="inp text-center form-control" id="inputPassword4" type="password" name="password" placeholder="Password" style="border-radius: 25px;width: 90%; margin-bottom: 30px;margin-left: 5%;margin-right: 5%;height: 35px;border-width: 0.01px;">
                </div>

                <button type="submit" class="sign-in btn btn-default" style="height: 35px;border-radius: 25px;">Sign Up</button>
            </form>
	</div>
{% endblock %}